.add-dog{
    margin: auto;
    display: flex;
    height: 100vh;
    justify-content:center;
    text-align: center;
}
.add-dog-form{
    display: flex;
    flex-direction: column;
    justify-content:center;
    
}