@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #fcfcfc;
}

.container {
  background-color: #272F39;
  margin: 0 auto;
  padding: 9px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 12vh;
  background-color: #272F39;
  position: relative;
}

.logo img{
  width: auto; 
  height: 65px;
  padding-top: 25%; 
}


.menu-icon {
  display: none;
  color: white;
}

/* .nav-elements {
} */

.nav-elements ul {
  display: flex;
  justify-content: center;/* Center the list horizontally */
  list-style-type: none;
  padding-right: 35px;
}

.nav-elements ul a {
  font-size: 19px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 40px; /* Adjust spacing between list items */
}

.nav-elements ul a.active {
  color: peru;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0%; /*Align the underline to the center of the link */
  width: 50%; /* Set the width to 50% of the link width */
  height: 2px;
  background-color: peru;
  /* transform: translateX(-50%); Center the underline relative to the link */
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
  .container{
    padding: 9px 51px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    z-index: 999;
    right: 0;
    top: 60px;
    background-color: #272F39;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .navbar-list {
    display: flex;
    justify-content: center; /* Center the list horizontally */
    align-items: center; /* Center the list vertically */
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}