@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body {
  margin: 0;
  padding: 0;
}

.hero-container {
  width: 100%;
  height: 100%;
  background-color: #272f39;
  padding-bottom: 10px;
}

.carousel .carousel-slider {
  width: 100%;
  height: 100%;
}

.carousel-slide {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  padding-bottom: 40px;
  padding-left: 46px;
}

.carousel-content {
  flex: 1;
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
}

.carousel-image {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  width: 350px;
  height: 350px;
  margin: 0 0px;
  background-color: #f2f2f2;
  border-radius: 13px;
}

.carousel-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 13px;
}

.carousel-content h2 {
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 6px;
  color: #fff;
}

.carousel-content p {
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 27px;
  line-height: 1.3;
  margin-bottom: 27px;
  color: #fff
}

.carousel-content a {
  display: inline-block;
  background-color: #ff8a00;
  color: #fff;
  text-decoration: none;
  padding: 13px 40px;
  border-radius: 12px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  transition: background-color 0.3s ease;
  align-self: flex-start;
  margin-top: auto;
}

.carousel-content a:hover {
  background-color: #ffa733;
}

.carousel-image {
  flex: 1;
  display: flex;
  align-items: center;
}

.carousel-image img {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 1051px) {
  .carousel-image {
    width: 270px;
    height: 270px;
  }
}
/* @media (min-width: 768px){
  .carousel-image {
    width: 100px;
  }
} */
@media (max-width: 768px) {
  .carousel-slide {
    padding-left: 20px;
  }

  .carousel-content {
    padding: 40px;
  }

  .carousel-image {
    width: 250px;
    height: 250px;
  }

  .carousel-content h2 {
    font-size: 30px;
  }

  .carousel-content p {
    font-size: 20px;
  }

  .carousel-content a {
    padding: 10px 30px;
    font-size: 16px;
  }
}

@media (max-width: 659px) {
  .carousel-slide {
    flex-direction: column;
    align-items: center;
  }

  .carousel-content,
  .carousel-image {
    align-items: center;
    width: 100%;
  }
  .carousel-content a{
    align-self: center;
  }

  .carousel-image {
    position: relative;
    top: 0;
    width: 50%;
    height: auto;
    right: unset;
    transform: none;
    margin: 0 auto 20px;
  }

  .carousel-content p {
    margin-bottom: 20px;
  }
}

@media (max-width: 376px){
  .carousel-content h2 {
    text-align: center;
  }
}







  
  li {
    color: aliceblue;
  }
  
  /* .hero-container{
      display: grid;
      background-color: #272F39;
      color:white;
      gap:1rem;
      grid-template-columns:repeat(auto-fit,minmax(20%,1fr));;
      height: 70vh;
      padding: 10px;
  }
  
  .left-sec{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      flex-direction: column;
      text-align: left;
      margin-left: 1rem;
  }
  .left-sec button{
      display: flex;
      flex-direction: column;
      align-self: start;
      background-color: #FF8A00;
      color:white;
      font-family:'Courier New', Courier, monospace;
      padding: 15px;
      border-radius: 10px;
      border: 2px solid #FF8A00;
      font-size: 1.3rem;
      transition: 0.1s ;
  }
  .left-sec button:hover{
      background-color: #272F39;
      border: 2px solid #FF8A00;
  }
  .left-sec h1{
      font-family:'Courier New', Courier, monospace;
      font-size: 52px;
      padding: 10px;
  }
  .left-sec h2{
      font-family:'Courier New', Courier, monospace;
      font-size: 22px;
      padding: 10px;
  }
  .left-sec span{
      color: #FF8A00;
  }
  .right-sec{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
  }
  .right-sec img{
      height:50%;
      width: 50%;
      border-radius: 10px;
      animation-name: bubble-dog;
      animation-duration:5s;
      animation-iteration-count: infinite;
  }
  @keyframes bubble-dog{
      0%{margin-top: 0%;}
      25%{margin-top: 5%;}
      50%{margin-top: 0;}
      75%{margin-top: 5%;}
      100%{margin-top: 0%;}
  
  } */
  