.hero-container{
    display: grid;
    background-color: #272F39;
    color:white;
    gap:1rem;
    grid-template-columns:repeat(auto-fit,minmax(20%,1fr));;
    height: 70vh;
    padding: 10px;
}

.left-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    text-align: left;
    margin-left: 1rem;
}
.left-sec button{
    display: flex;
    flex-direction: column;
    align-self: start;
    background-color: #FF8A00;
    color:white;
    font-family:'Courier New', Courier, monospace;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #FF8A00;
    font-size: 1.3rem;
    transition: 0.1s ;
}
.left-sec button:hover{
    background-color: #272F39;
    border: 2px solid #FF8A00;
}
.left-sec h1{
    font-family:'Courier New', Courier, monospace;
    font-size: 52px;
    padding: 10px;
}
.left-sec h2{
    font-family:'Courier New', Courier, monospace;
    font-size: 22px;
    padding: 10px;
}
.left-sec span{
    color: #FF8A00;
}
.right-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.right-sec img{
    height:50%;
    width: 50%;
    border-radius: 10px;
    animation-name: bubble-dog;
    animation-duration:5s;
    animation-iteration-count: infinite;
}
@keyframes bubble-dog{
    0%{margin-top: 0%;}
    25%{margin-top: 5%;}
    50%{margin-top: 0;}
    75%{margin-top: 5%;}
    100%{margin-top: 0%;}

}